.label-box {
    /* box-sizing はプラグインで padding-top を付与したときに height を変えないようにするために付けています */
    box-sizing: border-box;
    height: 240px;
    width: 320px;
    /* 縦横中央揃え */
    display: flex;
    align-items: center;
    justify-content: center;
    /* グラフ上に配置 */
    margin-top: -240px !important;
    /* グラフ中央に配置 */
    margin: auto;
  }
  
  /* タイトル、値 */
  .label-box .label {
    color: #636363;
    text-align: center;
  }
  .label-box .label .title {
    font-size: 20px;
    letter-spacing: .05em;
    margin-bottom: 3px;
    padding-top: 13px;
  }
  .label-box .label .value {
    font-size: 60px;
    line-height: 1em;
  }
  .label-box .label .value .per {
    font-size: 20px;
  }
  

#alert ul{
    margin: 0; 
    padding: 0; 
    list-style: none;
}

#alert li{ 
    display: inline; 
    padding: 0; 
    margin: 0; 
    float: left;
}